#define IDI_APPICON                     101
#define IDS_APPNAME                     1

IDI_APPICON             ICON    DISCARDABLE     "Icon1.ico"

ALWAYSSPECIFYC BITMAP "ALWAYSSPECIFYC2.bmp"
ALWAYSSPECIFYF BITMAP "ALWAYSSPECIFYF.bmp"
ALWAYSSPECIFYN BITMAP "ALWAYSSPECIFYN.bmp"
BACKD BITMAP "BACKD.bmp"
BACKF BITMAP "BACKF.bmp"
BACKU BITMAP "BACKU.bmp"
CANCELD BITMAP "CANCELD.bmp"
CANCELF BITMAP "CANCELF.bmp"
CANCELU BITMAP "CANCELU.bmp"
CLOSED BITMAP "CLOSED.bmp"
CLOSEU BITMAP "CLOSEU.bmp"
DISABLEHARDWARECURSORC BITMAP "DISABLEHARDWARECURSORC.bmp"
DISABLEHARDWARECURSORF BITMAP "DISABLEHARDWARECURSORF.bmp"
DISABLEHARDWARECURSORN BITMAP "DISABLEHARDWARECURSORN.bmp"
DISABLEJOYSTICKSC BITMAP "DISABLEJOYSTICKSC.bmp"
DISABLEJOYSTICKSF BITMAP "DISABLEJOYSTICKSF.bmp"
DISABLEJOYSTICKSN BITMAP "DISABLEJOYSTICKSN.bmp"
DISABLEMOVIESC BITMAP "DISABLEMOVIESC.bmp"
DISABLEMOVIESF BITMAP "DISABLEMOVIESF.bmp"
DISABLEMOVIESN BITMAP "DISABLEMOVIESN.bmp"
DISABLEMUSICC BITMAP "DISABLEMUSICC.bmp"
DISABLEMUSICF BITMAP "DISABLEMUSICF.bmp"
DISABLEMUSICN BITMAP "DISABLEMUSICN.bmp"
DISABLESOUNDC BITMAP "DISABLESOUNDC.bmp"
DISABLESOUNDF BITMAP "DISABLESOUNDF.bmp"
DISABLESOUNDN BITMAP "DISABLESOUNDN.bmp"
DISABLETRIPLEBUFFERINGC BITMAP "DISABLETRIPLEBUFFERINGC.bmp"
DISABLETRIPLEBUFFERINGF BITMAP "DISABLETRIPLEBUFFERINGF.bmp"
DISABLETRIPLEBUFFERINGN BITMAP "DISABLETRIPLEBUFFERINGN.bmp"
DISPLAYD BITMAP "DISPLAYD.bmp"
DISPLAYF BITMAP "DISPLAYF.bmp"
DISPLAYU BITMAP "DISPLAYU.bmp"
DISPLAYX BITMAP "DISPLAYX.bmp"
INSTALLD BITMAP "INSTALLD.bmp"
INSTALLF BITMAP "INSTALLF.bmp"
INSTALLU BITMAP "INSTALLU.bmp"
MINIMIZED BITMAP "MINIMIZED.bmp"
MINIMIZEF BITMAP "MINIMIZEU.bmp"
MINIMIZEU BITMAP "MINIMIZEU.bmp"
OKD BITMAP "OKD.bmp"
OKF BITMAP "OKF.bmp"
OKU BITMAP "OKU.bmp"
OPTIONSD BITMAP "OPTIONSD.bmp"
OPTIONSF BITMAP "OPTIONSF.bmp"
OPTIONSU BITMAP "OPTIONSU.bmp"
OPTIONSX BITMAP "OPTIONSX.bmp"
PLAYD BITMAP "PLAYD.bmp"
PLAYF BITMAP "PLAYF.bmp"
PLAYU BITMAP "PLAYU.bmp"
QUITD BITMAP "QUITD.bmp"
QUITF BITMAP "QUITF.bmp"
QUITU BITMAP "QUITU.bmp"
RESTOREDEFAULTSETTINGSC BITMAP "RESTOREDEFAULTSETTINGSC.bmp"
RESTOREDEFAULTSETTINGSF BITMAP "RESTOREDEFAULTSETTINGSF.bmp"
RESTOREDEFAULTSETTINGSN BITMAP "RESTOREDEFAULTSETTINGSN.bmp"
SERVERD BITMAP "SERVERD.bmp"
SERVERF BITMAP "SERVERF.bmp"
SERVERU BITMAP "SERVERU.bmp"
SERVERX BITMAP "SERVERX.bmp"
LITHFAQD BITMAP "LITHFAQD.bmp"
LITHFAQF BITMAP "LITHFAQF.bmp"
LITHFAQU BITMAP "LITHFAQU.bmp"

MAIN BITMAP "BITMAP130_1.bmp"
OPTIONS BITMAP "BITMAP164_1.bmp"
DISPLAY BITMAP "BITMAP219_1.bmp"
INFO BITMAP "BITMAP283_1.bmp"
GRAPHICS BITMAP "BITMAP284_1.bmp"
PREDANIM BITMAP "pred_anim.bmp"

SERVERLISTBAR BITMAP "SERVERLISTBAR.bmp"
SERVERTITLE BITMAP "SERVERTITLE.bmp"
SERVERTEST RCDATA "avp2.png"
SERVERLISTXN BITMAP "SERVERLISTXN.BMP"
SERVERLISTXH BITMAP "SERVERLISTXH.BMP"
SERVERLISTXD BITMAP "SERVERLISTXD.BMP"
SERVERLISTJOINN BITMAP "SERVERLISTJOINN.bmp"
SERVERLISTJOINH BITMAP "SERVERLISTJOINH.bmp"
SERVERLISTJOIND BITMAP "SERVERLISTJOIND.bmp"
SERVERLISTREFRESHN BITMAP "SERVERLISTREFRESHN.bmp"
SERVERLISTREFRESHH BITMAP "SERVERLISTREFRESHH.bmp"
SERVERLISTREFRESHD BITMAP "SERVERLISTREFRESHD.bmp"

INTRO1                  WAVE    "intro.wav"
INTRO2                  WAVE    "intro2.wav"
INTRO3                  WAVE    "intro3.wav"
OK                      WAVE    "select_OK.wav"
BACK                    WAVE    "back.wav"
TYPE1                   WAVE    "type1.wav"
TYPE2                   WAVE    "type2.wav"
TYPE3                   WAVE    "type3.wav"
BACKSPACE               WAVE    "backspace.wav"

STRINGTABLE
{
  IDS_APPNAME, 	"Aliens vs. Predator 2 Launcher"
}


#include "winver.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0"
        BEGIN
            VALUE "CompanyName", "LithFAQ\0"
            VALUE "FileDescription", "AVP2 Launcher\0"
            VALUE "FileVersion", "1.0.0.0\0"
            VALUE "InternalName", "AVP2 Launcher\0"
            VALUE "LegalCopyright", "\2512023 LithFAQ\0"
            VALUE "OriginalFilename", "AVP2 Launcher.exe\0"
            VALUE "ProductName", "AVP2 Launcher\0"
            VALUE "ProductVersion", "1.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END